<header></header>

<div class="container-fluid">
  <div class="row">

    <sidebar 
      class="col-4"
      (onSelectClient)="showClient($event)"></sidebar>
      
    <!-- details -->
    <div
      *ngIf="selectedClient"
      class="col-8">

      <button
        class="btn btn-primary"
        (click)="unselectClient()">Cerrar</button>

      <img [src]="selectedClient.pic" [alt]="selectedClient.nombre">
      <h1>{{selectedClient.nombre}} {{selectedClient.apellido}}</h1>
      <p>Cédula de Identidad: {{selectedClient.ci}}</p>
      <p>Dirección: {{selectedClient.direccion}}</p>
      <p>Teléfono: {{selectedClient.telefono}}</p>
      <p>Email: {{selectedClient.email}}</p>

    </div>

    <div
      *ngIf="!selectedClient"
      class="col-8">
      <h1>Selecciona un cliente para ver su información</h1>
    </div>

  </div>
</div>
